body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}


.sidebar{

width:230px;
height:100vh;
background:#111;
color:white;
position:fixed;
padding:20px;

}


.sidebar h1{

text-align:center;

}


.sidebar a{

display:block;
color:white;
text-decoration:none;
padding:15px;
margin-top:10px;

}


.sidebar button{

margin-top:30px;
width:100%;
padding:12px;
border:none;
background:red;
color:white;

}



.content{

margin-left:270px;
padding:30px;

}



.card-container{

display:flex;
gap:20px;

}



.card{

background:white;
padding:25px;
width:200px;
border-radius:15px;
box-shadow:0 5px 15px #ccc;

}



table{

width:100%;
background:white;
border-collapse:collapse;

}



th,td{

padding:15px;
border-bottom:1px solid #ddd;

}
